<section class="relative w-full min-h-[calc(100vh-80px)] flex items-center bg-beige/20 overflow-hidden px-6 lg:px-16 py-12">
    <div class="relative z-10 w-full max-w-7xl mx-auto flex flex-col-reverse lg:flex-row items-center justify-between gap-10 lg:gap-16">
        <div class="w-full lg:w-1/2 flex flex-col items-start justify-center">
            <app-custom-title
                [eyebrow]="'home.hero.eyebrow'|translate"
                [title]="'home.hero.title'|translate"
                [description]="'home.hero.description'|translate"
                align="start"
                titleSize="xl" />
            <div class="flex flex-wrap items-center gap-4 mt-8 cursor-pointer">
                <app-custom-button 
                [label]="'home.hero.button'|translate" 
                variant="primary"
                size="lg"
                [fullWidth]="true"
                routerLink="/collections"
                ></app-custom-button>
            </div>

            <div class="flex items-center gap-3 mt-10 text-xs tracking-[0.2em] uppercase text-gray-500">
                <span class="w-8 h-px bg-gold"></span>
                <span> {{'home.hero.span'|translate}} </span>
            </div>
        </div>
        <div class="w-full lg:w-1/2 h-105 lg:h-162.5 flex items-center justify-center relative">
            <div class="absolute w-90 h-90 lg:w-130 lg:h-130 rounded-full bg-gold/5"></div>
            <img [src]="imagePath.hero" alt="AURELIS luxury timepiece" class="relative z-10 w-full h-full object-contain">
        </div>
    </div>
</section>